@font-face {
    font-family: 'Quicksand';
    src: url(font/abster-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 5px 0px 5px 0px;
    z-index: 9999;
}

.navbar li a:hover{
    color: #1fdfdf;
}

.main {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(image/web_banner.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main .intro {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main .intro a{
    text-decoration: none;
    color: white;
    font-family: abster;
    margin-left: 5px;
    margin-right: 5px;
}

.main .intro h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.main .intro p{
    font-size: 22px;
}

.main .intro button{
    background: none;
    border:2px solid darkseagreen;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.main .intro button:hover{
    background-color: darkslategray;
}

footer .info {
    display: flex;
    padding: 10px 30%;
    margin: auto;
}

footer .info p {
    color: #d6d6d6;
    font-size: 14px;
    font-weight: 400;
}