@font-face {
    font-family: abster;
    src: url(../font/abster-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    z-index: 9999;
}

.navbar li a:hover{
    color: #1fdfdf;
}

article {
    padding: 100px 30px;
}

.youtube {
    padding: 10px 0;
    font-family: abster;
    display: grid;
    place-items: center;
    text-align: left;
}

.youtube .textBox{
    position: relative;
    width: 560px;
}

.textBox h2{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.textBox p{
    font-family: abster;
}
    

/* 이하는 home style 그대로 */
.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url(image/Drawing/20220118_screen.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main .intro {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main .intro a{
    text-decoration: none;
    color: white;
    font-family: abster;
    margin-left: 5px;
    margin-right: 5px;
}

.main .intro h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.main .intro p{
    font-size: 22px;
}

.main .intro button{
    background: none;
    border:2px solid darkseagreen;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.main .intro button:hover{
    background-color: darkslategray;
}